<p>login form!</p>
<form (submit)='onSubmit(formSignIn)' #formSignIn='ngForm'>
    <div class="row">
        <div class="col-md-3">
            <p>User name</p>
        </div>
        <div class="col-md-3">
            <input placeholder="User name" ngModel #txtUserName="ngModel" name='username' required email>
            <p *ngIf='txtUserName.touched && txtUserName.errors?.required'>Email is require</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Password</p>
        </div>
        <div class="col-md-3">
            <input placeholder="Password" ngModel #txtPassword="ngModel" name="password" required minlength="6" pattern="[a-z]*">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ngModelGroup="subjects">
            A:<input type="checkbox" [ngModel]='false' name="A">
            B:<input type="checkbox" [ngModel]='true' name="B">
            C:<input type="checkbox" [ngModel]='false' name="C">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <button [disabled]="formSignIn.invalid" class="btn">Submit</button>
        </div>
    </div>
    <p>{{txtUserName.errors | json}}</p>
    <p>{{txtPassword.errors | json}}</p>
</form>
<br><br>

<p>sign up form!</p>
<form  [formGroup]="formSignUp">
    <div class="row">
        <div class="col-md-3">
            <p>User name</p>
        </div>
        <div class="col-md-3">
            <input placeholder="User name" formControlName="username">
            <p *ngIf="formSignUp.get('username').touched && formSignUp.get('username').invalid">Username is invalid</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Password</p>
        </div>
        <div class="col-md-3">
            <input placeholder="Password" formControlName="password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" formGroupName="subject">
            A1:<input type="checkbox"  formControlName="A1" name="A1">
            B1:<input type="checkbox"  formControlName="B1" name="B1">
            C1:<input type="checkbox"  formControlName="C1" name="C1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <button (click)='submit()' [disabled]='formSignUp.invalid'>Submit</button>
        </div>
    </div>
</form>

